.box{
    width: 400px;
    height: 300px;
   border: 2px black solid;
   text-align: center;
   margin-left: 5%;
   margin-right: 5%;
   
   vertical-align: middle;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
a   {
    color: black;
    cursor: pointer;
    text-decoration: dashed;
}
.imgcadre{
    width: 100%;
    height: auto;
   
  }
body{
    background-image: url("../images/Mont\ Blanc\ .jpg");
    background-size: cover;
  }
.body{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ffffff;
}
.fond{
    background-color: white;


}
.head{
    font-size:1em;
  }
  
  a:link{
    color:#ffffff;
    text-decoration: none;
  }
  
  a:visited{
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover{
    color:#ffffff;
    text-decoration: none;
    background-color: #222222;
  }
  
  #header{
    width: 90em;
    margin-left: 0%;
    margin-top: 0%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
  }
  
  .box1{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }
  .aa{
    color: black;
  }