body{
  font-size:1em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url("../images/Mont\ Blanc\ .jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.content {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.main-content h1 {
  font-size: 36px;
  color: #333;
}

.main-content p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.main-content {
  flex: 2;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-left, .image-right {
  flex: 1;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.image-left {
  background-image: url('../images/image2.jpeg'); 
}

.image-right {
  background-image: url('../images/image1.jpeg'); 
}

video {
  width:100%;
}

footer{
  background-color: #ffffff;
  display: flex;
}

.contact {
  display: flex;
  align-items: center;
  margin: 15px 0;
  flex-grow:1;
  flex-wrap: wrap;
}

.contact img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

/*---------------------Navbar----------------------*/

.nav_box {
  box-sizing: border-box;
  width: 10em;
}

.nav_box a {
  text-align: center;
  padding: 0.8em;
  transition-property: color background-color font-weight;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
}

.nav_box a:link,
.nav_box a:visited {
  color: #eeeeee;
  text-decoration: none;
}

.nav_box a:hover {
  color:#dddddd;
  font-weight: 200;
  background-color:#111111;
  font-size: 1.02em;
}


.box1 {
  width: 40%;
  height: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.box2 {
  padding-right:2%;
}

#header{
  font-size:1em;
  width: 100%;
  height: 3em;
  margin: 0%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}
